[Unit]
Requires=immich-redis.service immich-database.service
After=immich-redis.service immich-database.service

[Container]
ContainerName=immich-server
Environment=DB_DATABASE_NAME=immich DB_HOSTNAME=immich-database DB_PASSWORD=shorter-emphasize-ravage DB_USERNAME=postgres REDIS_HOSTNAME=immich-redis
Image=ghcr.io/immich-app/immich-server:release
Pod=immich.pod
Volume=/data/immich/library:/usr/src/app/upload
Volume=/etc/localtime:/etc/localtime:ro
Volume=/data/photos:/media/photos:Z

[Service]
Restart=always
