[Unit]
Requires=redis.service database.service
After=redis.service database.service

[Container]
ContainerName=api
Environment=DB_DATABASE_NAME=immich DB_HOSTNAME=database DB_PASSWORD=shorter-emphasize-ravage DB_USERNAME=postgres REDIS_HOSTNAME=redis
Image=ghcr.io/immich-app/immich-server:release
Pod=immich.pod
Volume=/data/immich/library:/usr/src/app/upload
Volume=/etc/localtime:/etc/localtime:ro
Volume=/data/photos:/media/photos

[Service]
Restart=always
